<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIL paráfrasis</title>
    <link href="{{ url_for('static',filename='App.css') }}" rel="stylesheet">
</head>
<body class="grid-container">
    <header class="header">
        <div style="text-align: center;color: aliceblue;">
            AppParáfrasis<br>
            Grupo de Ingeniería Lingüistica<br>
            Instituto de Ingeniería UNAM
        </div>
    </header>
    <nav class="instrucciones1" style="text-align: left;font-size: medium;" >
        <p>Información: En las siguientes cajas de texto puede usted almacenar dos enunciados distintos para comprobar la similitud semántica entre ellos, según nuestra selección de algoritmos.</p>
    </nav>
    <nav class="sidebarC">
        <p  id="dist" rows="10" cols="30"name="resulta2"
            readonly placeholder="Distancia">
            Similitud Coseno: {{resulta2}}
        </p>
    </nav>
    <nav class="sidebarD">
        <p  id="dist" rows="10" cols="30"name="resulta2"
            readonly placeholder="Distancia">
            Coeficiente de Sorensen-Dice: {{resulta3}}
        </p>
    </nav>
    <nav class="sidebarJ">
        <p  id="dist" rows="10" cols="30"name="resulta2"
            readonly placeholder="Distancia">
            Índice de Jaccard: {{resulta4}}
        </p>
    </nav>
    <nav class="sidebarL">
        <p  id="dist" rows="10" cols="30"name="resulta2"
            readonly placeholder="Distancia">
            Distancia de Levenshtein: {{resulta5}}
        </p>
    </nav>
    <nav class="sidebarM1">
        <p  id="dist" rows="10" cols="30"name="resulta2"
            readonly placeholder="Distancia">
            BERT uncased: {{resulta6}}
        </p>
    </nav>
    <nav class="sidebarM2">
        <p  id="dist" rows="10" cols="30"name="resulta2"
            readonly placeholder="Distancia">
            SENTENCE-CROBI: {{resulta7}}
        </p>
    </nav>

    <form class="textos" action="{{url_for('Distancia')}}"method="post">
        <article class="textos">
            <br><br>
            <textarea id="dat1"
                name="dat1" cols="50"rows="10" placeholder=" Escribe tu primer texto a comparar"
                
            >{{textoA}}</textarea>
            <textarea id="dat2"
                name="dat2" cols="50"rows="10"placeholder=" Escribe tu segundo texto a comparar"
                
            >{{textoB}}</textarea>
            <br>
            <button class="boton" type="submit"onclick="Check()">Enviar</button>
            <button class="boton" type="reset">Borrar</button>

        </article>
    </form>
    <nav class="instrucciones2"style="text-align: left;font-size: medium;">
        <p>Información: En éstas otras cajas de texto, al introducir una secuencia de oraciones delimitadas por un punto, puede consultar las comparaciones en orden descendente con mayor similitud.</p>
    </nav>
    <form class="textos2" action="{{url_for('Distancia2')}}"method="post">
        <article class="textos2">
            <br>
            <textarea id="dat3"
                name="dat3" cols="30"rows="20" placeholder=" Primera cadena a comparar"
                
            >{{textoC}}</textarea>
            <textarea id="dat4"
                name="dat4" cols="30"rows="20"placeholder=" Segunda cadena a comparar"
                
            >{{textoD}}</textarea>
            <br>
            <label for="vol">Número de oraciones máximas (1-20):</label>
            <input type="range" id="vol" name="vol" min="1" max="19">
            <button class="boton" type="submit"onclick="Check()">Enviar</button>
            <button class="boton" type="reset">Borrar</button>
            <br>
        </article>
    </form>

    <nav class="sidebarAprox"  style="font-size: small;">
        <table>
            <tr>
                {% for header in headings %}
                <th>{{header}}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr>
                {% for cell in row %}
                <td>{{cell}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </nav>
    <nav class="separador">
        <div style="text-align: center;color: aliceblue;font-size: x-small;">
        </div>
    </nav>
    <nav class="separador2">
        <div style="text-align: center;color: aliceblue;font-size: x-small;">
        </div>
    </nav>
    <nav class="readme">
        <div  style="text-align: center;color: rgb(0, 0, 0);font-size: small;">
            <br>
            <h4 style="text-align: left">ACERCA DE</h4>
            <p style="text-align: justify">
                AppParáfrasis es una aplicación para la detección automática de paráfrasis que permite una comparación entre diferentes técnicas y algoritmos. Es capaz de trabajar con enunciados completos o bien haciendo un ránking the oraciones comparadas por pares entre dos textos.
            </p>
            <br>
            
            <h4 style="text-align: left">PARTICIPANTES. </h4>
            <p style="text-align: justify">
                Dirección: Gemma Bel-Enguix, Helena Gómez-Adorno, Gerardo Sierra. <br>
                Diseño de algoritmos: Germán Ortiz-Barajas, Alexi Cabrera, Juan Vasquez, Francisco López
            </p>
            <br>
            <h4 style="text-align: left">AGRADECIMIENTOS</h4>
            <p style="text-align: justify">
                Esta aplicación se ha desarrollado gracias al apoyo de Conacyt, proyecto CB A1-S-27780 y PAPIIT TA400121.
            </p>
            
            <br><br>
    </div>
    </nav>
    <nav class="logo">
        <div margin:auto;><img src="/static/img/logo-conacyt.png" height="110px" width="400px"/></div>
        <div margin:auto;><img src="/static/img/logo-papiit.png" height="110px" width="220px"/></div>
    </nav>
    <footer class="footer">
        <div style="text-align: center;color: aliceblue;font-size: x-small;">
            <a href="#" style="color: aliceblue">Términos de uso</a><br><br>
            Grupo de Ingeniería Lingüistica | Instituto de Ingeniería UNAM, Circuito Escolar s/n, Ciudad Universitaria, Delegación Coyoacán,
            México D.F., C.P. 04510, Teléfono +52(55)5623-3600
            <br><br>
        </div>

    </footer>
</body>
</html>